body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

.header {
    font-weight: 24px;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
    gap: 480px;
}

.logo {
    color: #f9faf8;
}

ul {
    font-weight: 18px;
    list-style-type: none;
    color: #E5E7EB;
    display: flex;
    gap: 24px;
}

.hero-main {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 215px;
    padding-bottom: 80px;
    gap: 300px;
}

.hero-main-text {
    max-width: 320px;
    color: #f9faf8;
    font-size: 3rem;
}


.hero-main p {
    font-weight: 24px;
    color: #E5E7EB;
    max-width: 380px;
}

button {
    background-color: #3882F6;
    border-radius: 8px;
    border: #3882F6;
    font-size: 18px;
    color: #E5E7EB;
    padding: 12px;
    width: 180px;
}

button:hover {
    background-color: #2d67c5;
    color: white;
}

.hero-picture img {
    max-width: 80%;
}

.main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 28px;
    padding-bottom: 80px;
}

.info-header-text {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
} 

.info-pics {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
    text-align: center;
}

.main-info img {
    max-width: 80%;
    border-radius: 5%;
}

.quote-section {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EBE7EB;
}

.quote-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-weight: 36px;
    max-width: 600px;
    color: #1F2937;
}

.quote-footer {
    font-size: large;
    font-weight: bold;
    display: flex;
    align-self: flex-end;
    align-items: center;
    padding-right: 400px;
}

.signup-section {
    background: #3882F6;
    margin: 80px;
    margin-left: 250px;
    margin-right: 250px;
    display: flex;
    gap: 400px;
    border-radius: 8px;
    padding: 20px;
    font-size: larger;
}

.signup-text {
    margin-left: 100px;
    color: #f8f9fa;
    font-size: larger;
}

.signup-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    text-align: center;
}

.signup-button button {
    border: 1px solid #f8f9fa;
    font-size: 20px;

}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 35px;
    color: #f8f9fa;
}